In [29]:
import pandas as pd
from sqlalchemy import create_engine

In [30]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [31]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [32]:
df.count(1)

0      4
1      4
2      4
3      4
4      4
      ..
260    4
261    4
262    4
263    3
264    2
Length: 265, dtype: int64

In [33]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
print(pd.io.sql.get_schema(df, name='taxi_zone_data', con=engine))

CREATE TABLE taxi_zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [35]:
df.head(n=0).to_sql(name='taxi_zone_data', con=engine, if_exists='replace')

0

In [36]:
df.to_sql(name='taxi_zone_data', con=engine, if_exists='append')

265